/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/

  --first-hue: 193;
  --sat: 64%;
  --lig: 65%;
  --second-hue: 266;
  --third-hue: 263;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 16% , 65%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(225, 17%, 15%); 
  --light-body-color: hsl(226, 17%, 24%);
  --container-color: hsl(225, 17%, 25%);
  --button-color: hsl(220, 15%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background: radial-gradient(#333848, #191C24);
  color: var(--text-color);
  transition: .4s; /* for light mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  transform: .3s;
}

.change-theme:hover{
  color: var(--first-color);
}

/*========== Variables Light theme ==========*/
body.light-theme{
  --first-hue: 354;
  --first-color-alt: hsl(var(--first-hue), var(--sat), 59%); /* -4% */
  --sat: 45%;
  --lig: 55%;
  --first-color: hsl(354, 45%, 55%);  
  --title-color: hsl(3, 23%, 32%);
  --text-color: hsl(210, 3%, 15%);
  --body-color: hsl(28, 41%, 92%);
  --light-body-color: hsl(28, 41%, 92%);
  --container-color: hsl(28, 41%, 87%);
  --button-color: hsl(28, 41%, 92%);
  background: radial-gradient(#F3EAE2, #F3EAE2);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.light-theme #particles-js{
  width: 0%;
}

.light-theme .scroll-header{
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
}

.light-theme .nav__menu, .light-theme .button-box{
  background-color: hsla(var(--first-hue), 32%, 85%, .8);
}

.light-theme .active-link{
  color: var(--button-color);
}

.light-theme #btn{
  background: var(--first-color);
}

.light-theme .section__subtitle{
  color: var(--text-color);
}

.light-theme .home__social-link{

  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

.light-theme .home__social::after{
  background-color: var(--title-color);
}

.light-theme .footer__social-link{
  background-color: hsl(354, 45%, 85%);
}

.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover{
  color: var(--title-color);
}

.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy,
.light-theme .footer__social{
  color: var(--button-color);
}

.light-theme .footer__social-link{
  background-color: var(--body-color);
}

.light-theme .about__box{
  box-sizing: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}

.light-theme .about__box, .light-theme .skills__content, .light-theme .portfolio__img, .light-theme .contact__card{
  box-shadow: 3px 3px 10px hsla(0, 0%, 80%, 1); 
  transition: .4s;
}

.light-theme .skills__content,
.light-theme .contact__card{
  box-sizing: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}

.light-theme::-webkit-scrollbar{
  background-color: hsl(var(--second-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 8%, 44%);
}

.light-theme .button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.light-theme .footer{
  background: linear-gradient(0deg, rgba(75,49,47,1) 0%, rgba(100,65,63,1) 35%, rgba(125,81,79,1) 100%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== HEADER & NAV===============*/
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: .4s; /* for light mode animation */
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  position: relative;
  color: var(--first-color);
  font-weight: var(--font-medium);
  width: 5%;
  min-width: 35px;
  max-width: 60px;
  transition: .4s;
}

.nav__logo:hover{
  color: var(--first-color-alt);
}

.button-box{
  width: 200px;
  height: 30px;
  position: relative;
  border-radius: 30px;
  background-color: hsla(266, 10%, 31%, .8);
  transition: .4s;
}

#toggle-btn1, #toggle-btn2{
  padding: 3px 19px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  transition: .4s;
}

#btn{
  left: 0;
  right: 0;
  position: absolute;
  width: 100px;
  height: 30px;
  background: var(--first-color);
  border-radius: 30px;
  transition: .5s;
}

.active{
  color: #fff;
  transition: .4s;
}

.nav__menu{
  position: fixed;
  bottom: 1rem;
  background-color: hsla(266, 10%, 31%, .8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem;
  backdrop-filter: blur(10px);
  transition: .4s; /* for light mode animation */
}

.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link{
  color: var(--text-color);
  font-size: 1.25rem;
  padding: .4rem;
  display: flex;
  border-radius: 5rem;
}

/* Active link */
.active-link{
  background: linear-gradient(180deg,
             hsla(var(--first-hue), var(--sat), var(--lig), 1),
             hsla(var(--first-hue), var(--sat), var(--lig), .2)
            );
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4);
  color: #fff;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}

/*=============== HOME ===============*/
.home__container{
  position: relative;
  padding-top: 2rem;
}

.home__data{
  text-align: center;
}

.home__greeting,
.home__education{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home_greeting{
  display: block;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.home__education{
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.home__name{
  font-size: var(--biggest-font-size);
}


model-viewer{
  width: 500px;
  height: 600px;
  margin: 0 auto;
  transition: .4s;
}

.home__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#home__button2{
  color: var(--button-color);
}

.home__social,
.home__scroll{
  position: absolute;
}

.home__social{
  bottom: 5rem;
  left: 0;
  display: grid;
  row-gap: .5rem;
}

.home__social-link{
  width: max-content;
  background-color: var(--container-color);
  color: var(--title-color);
  padding: .25rem;
  border-radius: .25rem;
  display: flex;
  font-size: 1rem;
  transition: .4s;
}

.home__social-link:hover{
  background-color: var(--first-color);
  color: var(--button-color);
}

.home__social::after{
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--title-color);
  transform: rotate(90deg) translate(16px, 3px);
}

.home__scroll{
  color: var(--title-color);
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}

.home__scroll-icon{
  font-size: 1.25rem;
}

.home__scroll-name{
  font-size: var(--smaller-font-size);
  transform: rotate(-90deg);
}

/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .4s;
}

.button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

.button--ghost{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2.5rem;
}

.about__img{
  justify-self: center;
}

.about__data{
  text-align: center;
}

.about__info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  margin-bottom: 2rem;
}

.about__box{
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
  transition: .4s;
  box-shadow: 3px 3px 10px hsla(0, 0%, 10%, 1); 
}

.about__icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
}

.about__title{
  font-size: var(--small-font-size);
} 

.about__subtitle{
  font-size: var(--tiny-font-size);
}

.about__description{
  margin-bottom: 2rem;
  padding-right: 0%;
  text-align: justify;
}

#about__button{
  color: var(--button-color);
}

/*=============== SKILLS ===============*/
.skills__container{
  row-gap: 2rem;
  padding-top: 1rem;
}

.skills__content{
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
  transition: .4s;
  box-shadow: 3px 3px 10px hsla(0, 0%, 10%, 1);   
}

.skills__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box{
  display: flex;
  justify-content: center;
  transition: .4s;
  column-gap: 2.5rem;
}

.skills__group{
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data{
  display: flex;
  column-gap: .5rem;
}

.skills .bxs-badge-check{
  font-size: 1rem;
  color: var(--first-color);
}

.skills__name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills__level{
  font-size: var(--tiny-font-size);
}

/*=============== QUALIFICATION ===============*/
.qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
#qual__button, #qual__button1{
  float: right;
}

.qualification__button, #qual__button, #qual__button1{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover, #qual__button:hover, #qual__button1:hover{
  color: var(--first-color);
}

.qualification__icon{
  font-size: 1.8rem;
  margin-right: .25rem;
}

.qualification__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: .5rem;
}

.qualification__calendar{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification__rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content]{
  display: none;
  /*background-color: pink;*/
}

.qualification__active[data-content]{
  display: block;
  /*background-color: orange;*/
}

.qualification__button.qualification__active{
  color: var(--first-color);
  transition: .4s;
}

/*=============== PORTFOLIO ===============*/
.portfolio__container{
  overflow: initial;
}

.portfolio__content{
  padding: 0 1.5rem;
  transition: .4s;
}

.portfolio__img{
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
  transition: .4s;
  box-shadow: 3px 3px 10px hsla(0, 0%, 10%, 1); 
}

.portfolio__title{
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.portfolio__description{
  margin-bottom: 0.75rem;
  text-align: justify;
}

.portfolio__button:hover .button__icon{
  transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}

.swiper-portfolio-icon{
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev{
  left: -.5rem;
}

.swiper-button-next{
  right: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet{
  outline: none;
}

#portfolio__info, #portfolio__info1, #portfolio__info2, #portfolio__info3,
#portfolio__info4{
  color: var(--button-color);
}

/*=============== TESTIMONIAL ===============*/


/* Swiper class */


/*=============== CONTACT ===============*/
.contact__container{
  row-gap: 3rem;
  padding-bottom: 3rem;
}

.contact__title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact__info{
  display: grid;
  gap: 1rem;
}

.contact__card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
  transition: .4s;
  box-shadow: 3px 3px 10px hsla(0, 0%, 10%, 1); 
}

.contact__card-icon{
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data{
  font-size: var(--small-font-size);
}

.contact__card-title{
  font-weight: var(--font-medium);
}

.contact__card-data{
  display: block;
  margin-bottom: .75rem;
}

.contact__message{
  font-size: var(--small-font-size);
  position: relative;
  bottom: 1.8rem;
  left: 1.5rem;
}

.color-red{
  color: hsl(354, 45%, 55%);
}

.color-brown{
  color: hsl(3, 23%, 32%);
}

.contact__button{
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
}

.contact__button:hover .contact__button-icon{
  transform: translateX(.25rem);
}

.contact__button-icon{
  font-size: 1rem;
  transition: .4s;
}

.contact__form-div{
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact__form-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
}

.contact__form-tag{
  position: absolute;
  top: -1.5rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: .25rem;
  background-color: none;
  z-index: 10;
}

.contact__form-area{
  height: 11rem;
}

.contact__form-area textarea{
  resize: none;
}

#contact__button2{
  color: var(--button-color);
}

#contact__tag1, #contact__tag2, #contact__tag3{
  transition: .4s;
}
/*=============== FOOTER ===============*/
.footer{
  background: linear-gradient(0deg, rgba(151,137,169,1) 0%, rgba(164,151,180,1) 35%, rgba(193,184,204,1) 100%);
}

.footer__container{
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link{
  color: var(--body-color);
}

.footer__title{
  width: 10%;
  margin-left: 46%;
  margin-bottom: 2rem;
}

.footer__list{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link{
  background-color: var(--body-color);
  color: var(--title-color);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer__copy{
  display: block;
  margin-top: 4.5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::webkit-scrollbar-thumb{
  background-color: hsl(var(--second-hue), 8%, 32%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--second-hue), 8%, 20%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 280px){
  /* NAV */
  .nav__menu{
    padding: 1rem 1.5rem;
  }

  .nav__logo{
    position: absolute;
    left: 48.75%;
  }

  .button-box{
    width: 80px;
    height: 20px; 
   }
 
   #btn{
     width: 40px;
     height: 20px;
   }
 
   #toggle-btn1, #toggle-btn2{
     font-size: 0.5rem;
     padding: 3px 3px;
     top: -3px;
     left: 3px;
   }

  /* HOME */
  .home__handle{
    width: 150px;
    height: 253px;
  }
  .home__img{
    width: 130px;
  }

  /* ABOUT ME */
  .about__info{
    grid-template-columns: repeat(2, 1fr);
  }

  .about__img{
    width: 35%;
  }

  /* SKILLS */
  .skills__content{
    margin: 0px 20px;
  }

  .skills__box{
    column-gap: 1rem;
  }
  .skills__name{
    font-size: var(--small-font-size);
  }

  /* QUALIFICATION */
  .qualification__data{
    gap: .5rem;
    padding: 0 .5rem;
  }

  .portfolio__content{
    height: 550px;
  }

  .swiper-horizontal>.swiper-pagination-bullets{
    bottom: -5px;
  }

  model-viewer{
    width: 200px;
    height: 250px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 281px){
  /* NAV */
  .nav__menu{
    padding: 1rem 1.5rem;
  }

  .nav__logo{
    position: absolute;
    left: 48.75%;
  }

  .button-box{
    width: 80px;
    height: 20px; 
   }
 
   #btn{
     width: 40px;
     height: 20px;
   }
 
   #toggle-btn1, #toggle-btn2{
     font-size: 0.5rem;
     padding: 3px 3px;
     top: -3px;
     left: 3px;
   }

  /* HOME */
  .home__handle{
    width: 150px;
    height: 253px;
  }
  .home__img{
    width: 130px;
  }

  /* ABOUT ME */
  .about__info{
    grid-template-columns: repeat(2, 1fr);
  }

  .about__img{
    width: 35%;
  }

  /* SKILLS */
  .skills__content{
    margin: 0px 20px;
  }

  .skills__box{
    column-gap: 1rem;
  }
  .skills__name{
    font-size: var(--small-font-size);
  }

  /* QUALIFICATION */
  .qualification__data{
    gap: .5rem;
    padding: 0 .5rem;
  }

  .portfolio__content{
    height: 550px;
  }

  .swiper-horizontal>.swiper-pagination-bullets{
    bottom: -5px;
  }

  model-viewer{
    width: 200px;
    height: 250px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px){
  .home__buttons{
    flex-direction: column;
  }
}

@media screen and (min-width: 320px){
  .nav__logo{
    right: 35px;
  }

  .about__img{
    width: 35%;
  }

  .button-box{
    width: 100px;
    height: 20px; 
   }
 
   #btn{
     width: 50px;
     height: 20px;
   }
 
   #toggle-btn1, #toggle-btn2{
     font-size: 0.6rem;
     padding: 3px 5px;
     top: -3px;
     left: 3px;
   }

  model-viewer{
    width: 300px;
    height: 350px;
    margin: 0 auto;
  }

  .skills__content{
    margin: 0px 20px;
  }

  .portfolio__content{
    height: 550px;
  }
}
@media screen and (min-width: 390px){
  .about__img{
    width: 35%;
  }

  .skills__content{
    margin: 0px 50px;
  }

  .portfolio__content{
    height: 450px;
  }
}

@media screen and (min-width: 480px){
  .skills__content{
    margin: 0px 100px;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .nav__logo{
    right: 65px;
  }

  .button-box{
    width: 150px;
    height: 22.5px; 
   }
 
   #btn{
     width: 75px;
     height: 22.5px;
   }
 
   #toggle-btn1, #toggle-btn2{
     font-size: 0.7rem;
     padding: 3px 15px;
     top: -2px;
   }  

  /* NAV */
  .nav__menu{
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  /* ABOUT ME */
  .about__info{
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
  }

  .about__img{
    width: 35%;
  }
  .about__description{
    padding: 0 5rem;
  }

  /* SKILLS */
  .skills__container{
    justify-content: center;
  }
  .skills__content{
    padding: 2rem 4rem;
  }

  /* QUALIFICATION */
  .qualification__sections{
    display: grid;
    grid-template-columns: .6fr;
    justify-content: center;
  }

  /* PORTFOLIO */
  .portfolio__content{
    grid-template-columns: repeat(2 1fr);
    height: 400px;
  }

  /* CONTACT */
  .contact__info{
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact__form{
    width: 360px;
    margin: 0 auto;
  }

  model-viewer{
    width: 350px;
    height: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px){
  .nav__logo{
    right: 80px;
  }

  .about__img{
    width: 35%;
  }

  .button-box{
   width: 180px;
   height: 27px; 
  }

  #btn{
    width: 90px;
    height: 27px;
  }

  #toggle-btn1, #toggle-btn2{
    font-size: 0.9rem;
    padding: 3px 16px;
    top: -1px;
  }  

  /* CONTACT */
  .contact__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
  }

  .portfolio__img{
    width: 320px;
  }
  .portfolio__content{
    align-items: center;
  }

  model-viewer{
    width: 400px;
    height: 550px;
    margin: 0 auto;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 6.5rem 0 1rem;
  }
  .section__title{
    margin-bottom: 3.5rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }

  .nav__logo{
    right: 90px;
  }

  .button-box{
    width: 200px;
    height: 30px; 
   }
 
   #btn{
     width: 100px;
     height: 30px;
   }
 
   #toggle-btn1, #toggle-btn2{
     font-size: 1rem;
     padding: 3px 19px;
     top: 0;
   } 

  .home__handle{
    width: 290px;
    height: 400px;
  }
  .home__img{
    width: 220px;
  }
  .home__social-link{
    padding: .4rem;
    font-size: 1.25rem;
  }
  .home__social::after{
    transform: rotate(90deg) translate(16px, 0);
  }
  .home__scroll-icon{
    font-size: 2rem;
  }

  .about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
  }
  .about__img{
    width: 350px;
  }
  .about__data{
    text-align: initial;
  }
  .about__info{
    justify-content: initial;
  }
  .about__box{
    text-align: center;
    padding: 1rem 1.25rem;
  }

  .about__title{
    font-size: .799rem
  }

  .about__description{
    padding: 0 0rem; 
    margin-bottom: 2.5rem;
  }

  .skills__content{
    margin: 0px 0px;
  }
  .skills__container{
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
  }

  .portfolio__img{
    height: 205px;
  }
  .portfolio__content{
    column-gap: 5rem;
  }

  .swiper-portfolio-icon{
    font-size: 3.5rem;
  }
  .swiper-button-prev{
    left: 1rem;
    top: 6rem;
  }
  .swiper-button-next{
    right: 1rem;
    top: 6rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -4.5rem;
  }

  .contact__container{
    column-gap: 6rem;
  }

  .footer__social-link{
    font-size: 1.25rem;
    padding: .4rem;
    border-radius: .5rem;
  }

  model-viewer{
    width: 600px;
    height: 500px;
    margin: 0 auto;
  }
}